/* =====================================================
   SISTEMA LEOS
   Container Layout
===================================================== */


.page-container {


    width:100%;


    padding:

        clamp(
            1rem,
            2vw,
            2rem
        );


    box-sizing:border-box;


}



/* Contenido interno */


.page-container > * {


    width:100%;


}





/* Contenedor de secciones */


.section-container {


    width:100%;


    max-width:1200px;


    margin:auto;


}







/* Grid adaptable */


.responsive-grid {


    display:grid;


    grid-template-columns:


        repeat(
            auto-fit,
            minmax(280px,1fr)
        );


    gap:


        clamp(
            1rem,
           2vw,
           2rem
        );


}




/* Tablet */


@media(max-width:900px){


    .page-container {


        padding:


            1rem;


    }


}






/* Celular */


@media(max-width:600px){


    .page-container {


        padding:


            .75rem;


    }


}